/*背景*/
#centralWidget
{
    border-radius:15px;
    background-color: rgb(255, 255, 255);
}

/*左侧菜单*/
#leftMenuWidget
{
    border-radius:15px;
    background-color: rgb(250, 250, 250);
}

#leftMenuTreeWidget
{
    background-color: rgb(250, 250, 250);
}

QTreeWidget::item 
{
    height: 65px;
    width:30px
  
}

QTreeWidget{
    font-size:17px;
    font-weight:50;
}
